<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-img [src]="EPTInfo.logo"></ion-img>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="EPTInfo.location"></ion-img>
    </ion-card-content>
    <ion-list>
      <ion-item >Name : <b>&nbsp; {{EPTInfo.name}}</b></ion-item>
      <ion-item>Email : <b>&nbsp; {{EPTInfo.email}}</b></ion-item>
      <ion-item>Tel : <b>&nbsp; {{EPTInfo.tel}}</b></ion-item>
    </ion-list>
  </ion-card>
</ion-content>
